@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

$padding-xxl: 5rem 6.5rem 0 6.5rem;
$padding-xl: 1rem 2.5rem 2rem 2.5rem;
$padding-sm: 1rem 2rem;
.header-container {
  background: $bg-gradienti;
  background-image: url("../../assets/header-background-2.png"), $bg-gradientii;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  margin-top: 6.9rem;
  .train-box {
    text-align: right;
    figure {
      margin-right: -25px !important;
    }
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-xxl;
    position: relative;
    .left {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      display: flex;
      padding-top: 2rem;
      z-index: 2;
      .header-title {
        align-self: baseline;
        h1 {
          font-size: clamp(2rem, 3vw + 1rem, 4.5rem);
          margin: 0;
          color: $text-white;
          line-height: 1;
          text-transform: uppercase;
          // text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15);
          &:last-of-type {
            font-size: clamp(2rem, 4vw + 1rem, 8.5rem);
          }
        }
      }
      .header-desc {
        margin: 2rem 0;
        h2 {
          font-size: 1.6rem;
          margin: 0.5rem;
          color: $text-white;
          font-weight: 400;
          word-spacing: 2px;
        }
      }
      .input-block {
        margin: 1rem 0;
      }
      .action-box {
        width: 100%;
        margin: 1rem 0px 0 50px;
      }
    }
    .right {
      position: absolute;
      right: -2%;
      overflow: hidden;
      bottom: -37px;
      .decorators {
        figure {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-container {
    margin-top: 5.1rem;
    .train-box {
      text-align: right;
      // padding-bottom: 1.6rem;
      figure {
        margin-right: -25px !important;
        margin-top: -0.1rem;
        img {
          width: 75%;
          height: 75%;
        }
      }
    }
    .header-content {
      align-items: end;
      padding: $padding-xl;
      .left {
        padding-top: 4rem;
        .action-box {
          padding-right: 10rem;
        }
        .header-desc {
          margin: 1rem 0;
        }
      }
      .right {
        //   margin-bottom: -1rem;
        bottom: -4%;
        right: -36.5%;
        .decorators {
          figure {
            img {
              width: 60%;
              height: 60%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header-container {
    margin-top: 4.6rem;
    .header-content {
      padding: $padding-xl;
    }
    .header-content {
      .left {
        z-index: 2;
        .input-block {
          padding-right: 18rem;
          .destination-container .destination-body .form-body {
            .left-right {
              padding: 1rem 1.6rem;
            }
            .input-group {
              margin: 0;
            }
          }
        }
        .action-box {
          .btn {
            width: 35% !important;
            padding: 1.2rem 2rem;
          }
        }
      }
      .right {
        position: absolute;
        z-index: 1;
        right: -65%;
        // left: 30%;
        .decorators {
          figure {
            img {
              width: 45%;
              height: 45%;
            }
          }
        }
      }
    }
    .train-box {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media (max-width: 28em) {
  .header-container {
    margin-top: 3.9rem;
    .header-content {
      padding: $padding-sm;
    }
    .header-content {
      .left {
        .action-box {
          margin: 0.4rem 0px 0 20px;

          .btn {
            width: 45% !important;
            padding: 0.95rem 2rem;
          }
        }
        z-index: 2;
        .input-block {
          padding-right: 2rem;
          .destination-container .destination-body .form-body {
            .left-right {
              padding: 0.7rem 1.6rem;
            }
            .input-group {
              margin: 0;
              .input-box {
                margin-top: 0;
              }
            }
          }
        }
      }
      .right {
        // right: -73%;
        left: 37%;
        bottom: -19px;
        figure {
          margin-right: 0 !important;
          margin-inline-end: 0 !important;
          img {
            width: 45% !important;
            height: 50%;
          }
        }
      }
    }
    .train-box {
      figure {
        img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}
