@use "../../styles/colors" as *;
$padding-xxl: 3rem 5.5rem;
$padding-xl: 1rem 2.5rem;
$padding-sm: 1rem 2.5rem;
.hero__container {
  background: rgb(0, 180, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 180, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-top: 7rem;
  .hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-xxl;
    .left {
      line-height: 1.3;
      h1 {
        font-size: clamp(2rem, 3vw + 1rem, 4.5rem);
        letter-spacing: 5px;
        color: $text-white;
        margin: 0;
        line-height: 1;
        text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15);
      }
      h2 {
        color: $text-main;
        font-weight: 550;
        font-size: clamp(1rem, 1vw + 1rem, 4.5rem);
        margin: 0;
      }
    }
  }
  .right {
    figure {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero__container {
    .hero__content {
      padding: $padding-xl;
    }
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 28em) {
  .hero__container {
    margin-top: 4rem;
    .hero__content {
      padding: $padding-sm;
      flex-direction: column;
      text-align: center;
      .right {
        figure {
          margin: 0;
        }
      }
      .left {
        margin: 1rem 0;
      }
    }
  }
}
