@use "../../styles/colors" as *;
$padding-xxl: 3rem 5.5rem;
$padding-xl: 2rem 2.5rem;
$padding-sm: 1.5rem 1.5rem;
.hero__container {
  background: $gradient-var_2;
  background: $gradient-var_bg;
  background: rgba(0, 180, 255, 0.4);

  margin-top: 7rem;
  .hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: $padding-xxl;
    .left {
      line-height: 1.3;
      padding: 1rem 0;
      h1 {
        font-size: clamp(2.6rem, 3vw + 1rem, 4.5rem);
        letter-spacing: 5px;
        color: $text-white;
        margin: 0;
        line-height: 1;
        text-transform: uppercase;
      }
      h2 {
        color: #2c3e50b8;
        color: rgb(42 61 79 / 85%);
        font-weight: 550;
        font-size: clamp(1.6rem, 1vw + 0.9rem, 4.5rem);
        margin: 0.8rem 0 0 0;
        line-height: 1;
        font-family: "Montserrat";
      }
    }
  }
  .right {
    figure {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero__container {
    margin-top: 5rem;
    .hero__content {
      padding: $padding-xl;
    }
  }
}
@media screen and (max-width: 768px) {
  .hero__container {
    margin-top: 4.4rem;
  }
}
@media screen and (max-width: 28em) {
  .hero__container {
    margin-top: 4rem;
    background: rgba(0, 180, 255, 0.4);
    .hero__content {
      padding: $padding-sm;
      flex-direction: column;
      display: block;
      text-align: center;
      .right {
        margin: 2rem 0 0 0;
        figure {
          margin: 0;
          img {
            width: 80%;
            height: 80%;
          }
        }
      }
      .left {
        margin: 1rem 0;
        max-width: 100%;
        h1 {
          margin: 1em 0;
        }
        h2 {
          line-height: 1.4;
          font-weight: 500;
        }
      }
    }
  }
}
