$bg-secondary: #fff066;
$bg-primary: #27aae1;
$bg-primary_2: #008dc8;
$bg-primary_3: #00b4ff;
$bg-white: #fff;
$bg-footer: #2c3e50;
$bg-light: #f9f9f9;
$bg-lightest: #eef7fd;

$bg-active: #3bae4e;
$bg-gradienti: rgb(130, 205, 234);
$bg-overlay: rgba(255, 255, 255, 0.10196078431372549);
$bg-gradientii: linear-gradient(
  190deg,
  rgba(130, 205, 234, 1) 30%,
  rgba(214, 232, 185, 1) 60%
);
$gradient-var_2: rgb(0, 180, 255);
$gradient-var_bg: linear-gradient(
  90deg,
  rgba(0, 180, 255, 1) 0%,
  rgba(255, 255, 255, 1) 100%
);
// ---- TEXT
$text-white: #ffffff;
// $text-main: #2c3e50;
$text-main: #2c2e2f;
$text-light: rgba(42, 61, 79, 0.85);
$text-lightest: #606568e6;
$text-primary: #00b4ff;
$text-primary_2: #62c1e9;

$text-secondary: #fff066;
$text-tertiary: #757575;
$text-active: #3bae4e;
